.show {
    position: relative;
    width: 1520px;
    height: 420px;
    margin: 0 auto;
    margin-top: 52px;
    background-color: #fe9400;
    background: url(./img/show2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.show ul {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -45px;
}

.show ul li {
    width: 8px;
    height: 8px;
    background-color: #adadad;
    border-radius: 50%;
    margin: 5px 0;
}

.show ul li:first-child {
    background-color: #fff;
}

.message .weather {
    height: 45px;
    margin-top: -45px;
    background-color: rgba(0, 0, 0, 0.5);
}

.message .weather span {
    height: 45px;
    color: #84c75d;
    font-size: 14px;
    font-weight: 500;
    line-height: 45px;
    margin-left: 15px;
}

.message .weather img {
    float: right;
    height: 100%;
}

.message .section {
    height: 320px;
    margin-top: 15px;
}

.message .left {
    position: relative;
    float: left;
    width: 50%;
    height: 320px;
    background: url(https://guilin.com.cn:12850/2022%5C06%5CO_17ec2b95-3417-bdbe-ae8e-3a0483154f98.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.message .left div {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 20px;
}

.message .left div h3 {
    font-size: 13px;
    color: #fff;
}

.message .left div p {
    font-size: 8px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
}

.message .left ul {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -18px;
    margin-right: 10px;
}

.message .left ul li {
    width: 8px;
    height: 8px;
    background-color: #adadad;
    border-radius: 50%;
    margin: 5px 0;
}

.message .left ul li:first-child {
    background-color: #fff;
}

.message .right {
    float: right;
    width: 50%;
    height: 320px;
    padding-left: 15px;

}

.message .right .title {
    width: 100%;
    height: 30px;
}

.message .right .title img {
    float: left;
    height: 28px;
    margin: 1px 0;
}

.message .right .title h3 {
    display: inline-block;
    height: 30px;
    font-size: 16px;
    color: #666666;
    line-height: 30px;
    margin-left: 5px;
}

.message .right .title h3 span {
    color: #84c75d;
    font-size: 18px;
}

.message .right .title a {
    float: right;
    height: 30px;
    color: #b8b6b6;
    font-size: 12px;
    line-height: 30px;
}

.message .right .title a:hover {
    color: #84c75d;
}

.message .right .news {
    font-size: 10px;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    border-bottom: 1px dashed #e0dddd;
    color: #838383;
    cursor: pointer;
}

.message .right .news span {
    float: right;
}

.message .right .news:hover {
    color: #fe9400;
}

.cards .title {
    color: #666666;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0;
}

.cards .title span {
    text-transform: uppercase;
    color: #84c75d;
}

.body section {
    float: left;
}

.body div h3 {
    position: absolute;
    top: 30px;
    left: 28px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.body div h3 span {
    font-weight: 800;
}

.box1,
.box2 {
    float: left;
    margin-right: 10px;
}

.box2 div,
.box1 div {
    position: relative;
    width: 347px;
    height: 320px;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: background-size 0.3s;
    cursor: pointer;
}

.box1 div:first-child {
    background-image: url(https://www.guilin.com.cn/img/stay.d41ccadb.jpg);
}

.box1 div:nth-child(2) {
    background-size: 144%;
    background-image: url(https://www.guilin.com.cn/img/food.1a45091e.png);
}

.box1 div:first-child:hover,
.box2 div:first-child:hover {
    background-size: 106%;
}

.box1 div:nth-child(2):hover {
    background-size: 155%;
}

.box2 div {
    width: 437px;
}

.box2 div:first-child {
    height: 420px;
    background-image: url(https://www.guilin.com.cn/img/scenic.3e71a628.jpg);
}

.box2 div:nth-child(2) {
    height: 220px;
    background-image: url(https://www.guilin.com.cn/img/guide.945f1524.jpg);
    background-size: 130%;
}

.box2 div:nth-child(2):hover {
    background-size: 136%;
}

.box3 div {
    position: relative;
    float: left;
    height: 200px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    cursor: pointer;
}

.box3 div:first-child {
    width: 253px;
    background-image: url(https://www.guilin.com.cn/img/agency.37c025b2.jpg);
    background-size: 120%;
}

.box3 div:first-child:hover {
    background-size: 136%;
}

.box3 div:nth-child(2) {
    width: 288px;
    background-image: url(https://www.guilin.com.cn/img/car.2fa6bdd6.jpg);
    background-size: 170%;
}

.box3 div:nth-child(2):hover {
    background-size: 186%;
}


.box3 div:nth-child(3) {
    width: 233px;
    background-image: url(https://www.guilin.com.cn/img/culturalVenues.f2cb6408.jpg);
    background-size: 144%;
    margin-right: 0;
}

.box3 div:nth-child(3):hover {
    background-size: 156%;
}

.box4 {
    float: right;
}

.box4 div {
    position: relative;
    width: 246px;
    height: 280px;
    margin-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    cursor: pointer;
}

.box4 div:first-child {
    background-image: url(https://www.guilin.com.cn/img/line.17f7bf69.png);
    background-size: 130%;
    margin-top: 0;
}

.box4 div:first-child:hover {
    background-size: 140%;
}

.box4 div:nth-child(2) {
    background-image: url(https://www.guilin.com.cn/img/shop.d593fc34.png);
    background-size: 140%;
}

.box4 div:nth-child(2):hover {
    background-size: 152%;
}

.box4 div:nth-child(3) {
    background-image: url(https://www.guilin.com.cn/img/raider.7eb5c9f1.png);
    background-size: 120%;
}

.box4 div:nth-child(3):hover {
    background-size: 132%;
}

.body2 {
    margin: 40px 0;
}

.body2 .title h3 {
    float: left;
    background-color: #84c75d;
    padding: 0 30px;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.body2 .title a {
    float: right;
    height: 30px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    padding: 0 50px;
    background-color: #84c75d;
    border-radius: 20px;
    transition: font-size 0.3s;
}

.body2 .title a:hover {
    font-size: 16px;
}

.body2 .box {
    height: 500px;
}

.body2 .box div {
    float: left;
    height: 230px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    cursor: pointer;
}

.body2 .box div:first-child {
    width: 320px;
    background-image: url(https://guilin.com.cn:12850/2022%5C04%5CO_f0db0673-7b9a-0f36-ab54-3a035820b491.jpg);
    background-size: 120%;
}

.body2 .box div:first-child:hover {
    background-size: 132%;
}

.body2 .box div:nth-child(2) {
    background-image: url(https://guilin.com.cn:12850/2022%5C04%5CO_70be6a20-8893-8b28-d8fd-3a03581de7af.jpg);
    width: 160px;
    background-size: 200%;
}

.body2 .box div:nth-child(2):hover {
    background-size: 220%;
}


.body2 .box div:nth-child(3) {
    background-image: url(https://guilin.com.cn:12850/2022%5C04%5CO_37ddb0b3-88c0-789e-3e90-3a03581ad6e1.jpg);
    width: 220px;
    background-size: 140%;
}

.body2 .box div:nth-child(3):hover {
    background-size: 152%;
}


.body2 .box div:nth-child(4) {
    background-image: url(https://guilin.com.cn:12850/2022%5C04%5CO_b0b125f3-91a5-8113-4afb-3a033d8401cc.png);
    width: 320px;
    margin-right: 0;
    background-size: 120%;
}

.body2 .box div:nth-child(4):hover {
    background-size: 130%;
}

.body2 .box div:nth-child(5) {
    background-image: url(https://guilin.com.cn:12850/2022%5C04%5CC_b8c76a64-5625-51c2-f248-3a033d824dd9.jpg);
    width: 400px;
    background-size: 100%;
    margin-top: 10px;
}

.body2 .box div:nth-child(5):hover {
    background-size: 106%;
}

.body2 .box div:nth-child(6) {
    background-image: url(https://guilin.com.cn:12850/2022%5C04%5CC_3c01f5d3-f9a8-0d6b-058b-3a033d823386.jpg);
    width: 360px;
    background-size: 100%;
    margin-top: 10px;
}

.body2 .box div:nth-child(6):hover {
    background-size: 106%;
}

.body2 .box div:nth-child(7) {
    background-image: url(https://guilin.com.cn:12850/2022%5C04%5CC_f00b3db4-83a3-7278-98b6-3a033d8217f9.jpg);
    width: 270px;
    margin-right: 0;
    background-size: 150%;
    margin-top: 10px;
}

.body2 .box div:nth-child(7):hover {
    background-size: 165%;
}